<h1>Amazing Facts About the Pangolin</h1>
<%= image_tag("Pangolin.jpg", :alt => "A handsome pangolin") %>
<ul>
    <li>The Pangolin, otherwise known as the scaly anteater, is the only mammal in the world to be covered from head to toe in keratin scales (the same as human finger nails).  These scales account for up to 20% of a Pangolin’s entire weight.</li>
    <li>There are eight species of Pangolin. Four are found in Asia: the Chinese, the Malayan, the Indian and the Palawan Pangolin. Four are found in Africa: the Tree Pangolin, the Giant Ground Pangolin, the Cape Pangolin and the Long-tailed Pangolin.</li>
    <li>They inhabit tropical forests, dry woodlands and the savannah. Some pangolins spend their time up in trees and others sleep in burrows underground.</li>
    <li>They are about the size of a small cat, are covered in brown scales, and have long, strong tails that can be used as a weapon.</li>
    <li>The name Pangolin is derived from the Malay word ‘pengguling’, which means ‘rolling up’.  This is reference to the animal’s defence mechanism of rolling up into a tight little hardened ball when they are under threat.</li>
    <li>Rolling up creates a hard, spiky, impenetrable ball that can defeat even the jaws of lions, tigers and leopards. However, by cruel coincidence, it is this same defence mechanism that makes human capturing of the pangolins as easy as picking up a ball.</li>
    <li>Like a skunk, pangolins can release a noxious- smelling acid to deter predators.</li>
    <li>Pangolins have a long sticky tongue that grows from deep inside their chest cavity and can extend to over 40cm, which is longer than its own body! This tongue is a perfect tool for catching insects. One Pangolin is estimated to catch a massive 70 million a year.</li>
    <li>With no teeth, and unable to chew, the insects are broken up by stones and keratin spines located inside their stomachs.</li>
    <li>It is unknown how long pangolins live for because captivity is traumatic for pangolins resulting in stress, depression and early death. However, the oldest recorded Pangolin in captivity died at 19 years old.</li>
    <li>They are nocturnal, solitary animals with very poor eyesight. Their sense of smell and sound is supreme and is used to hunt out termite mounds and ant hills.</li>
    <li>Cute pangolin pups hitch a ride on their mother’s tails for three months and remain in their mother’s care for five months before braving life solo.</li>
    <li>In some pangolin species the male can be up to 90% heavier than females. This type of uneven weight is called being ‘sexually dimorphic’.</li>
    <li>Sadly, this tough looking little mammal is on the edge of survival with some populations classified as Critically Endangered. They are the most trafficked animal in the world which has led to more than a million being stolen from the wild. The IUCN estimate that a Pangolin is taken from the wild every 5 minutes!</li>
</ul>

<p>Facts from <%= link_to "this page", "https://onekindplanet.org/animal/pangolin/#:~:text=Amazing%20Facts%20About%20the%20Pangolin,are%20eight%20species%20of%20Pangolin." %>